<table border="1">
<% for(var i=0; i < results.length; i++) { %>
   <tr>
     <th>Info Match (<%= i+1 %>) <%= results[i].session %> </th>
     <th>Results A: </th>
     <th>Results B: </th>
   </tr>
   <tr>
     <td>
        <% for(var j=0; j < results[i].info.length; j++) { %>
          <%= results[i].info[j].id %>
          :
          <%= results[i].info[j].value %>
          <br />
        <% } %>
     </td>
     <td>
        Difficulty: <%= results[i].resultsTeamA.difficulty %><br />
        Execution: <%= results[i].resultsTeamA.execution %><br />
        Teamwork: <%= results[i].resultsTeamA.ai.teamwork %><br />
        Flow: <%= results[i].resultsTeamA.ai.teamwork %><br />
        Variety: <%= results[i].resultsTeamA.ai.teamwork %><br />
        General Impression: <%= results[i].resultsTeamA.ai.teamwork %><br />
        Music: <%= results[i].resultsTeamA.ai.teamwork %>
     </td>
     <td>
        Difficulty: <%= results[i].resultsTeamB.difficulty %><br />
        Execution: <%= results[i].resultsTeamB.execution %><br />
        Teamwork: <%= results[i].resultsTeamB.ai.teamwork %><br />
        Flow: <%= results[i].resultsTeamB.ai.teamwork %><br />
        Variety: <%= results[i].resultsTeamB.ai.teamwork %><br />
        General Impression: <%= results[i].resultsTeamB.ai.teamwork %><br />
        Music: <%= results[i].resultsTeamB.ai.teamwork %>
     </td>
   </tr>
<% } %>
</table>